# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Mac
.DS_Store
